Repository Skptk/lovable_breath_safe: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "src/**/*.{ts,tsx}": [
    "node scripts/check-init-issues.js --staged"
  ]
}

Guard memory tooling and fix dashboard reading counters
  docs/CHANGELOG.md
  src/hooks/useUserPoints.ts
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

Fix dashboard stats and guard memory tooling
  src/components/ProfileView.tsx
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

Fix ProfileView subscription cleanup duplication
  src/components/ProfileView.tsx
  src/utils/memoryUtils.ts
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

Add animated smoke layer and document changelog entry
  docs/CHANGELOG.md
  src/components/SmokeEffect.tsx
  src/components/index.ts
  src/pages/Demo.tsx
  src/pages/Index.tsx
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

Adjust ReferenceError bundle check to ignore safe helper
  docs/CHANGELOG.md
  scripts/check-bundle-reference-errors.js
Due: eslint --fix --max-warnings=0, prettier --write

Reduce dashboard load latency with guarded data refreshes
  docs/CHANGELOG.md
  src/components/SmokeEffect.tsx
  src/hooks/useAirQuality.ts
  src/hooks/useGlobalEnvironmentalData.ts
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

added a refresh lock persistence for the dasboard
  docs/CHANGELOG.md
  src/hooks/useAirQuality.ts
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

Unify fetchAQI output with scheduled AQICN data
  docs/CHANGELOG.md
  src/components/HistoryView.tsx
  src/components/MapView.tsx
  src/components/WeatherStats.tsx
  src/hooks/useAirQuality.ts
  supabase/functions/fetchAQI/index.ts
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

Guard live AQI fallback behind scheduled freshness
  docs/CHANGELOG.md
  src/hooks/useAirQuality.ts
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

feat: add interactive air particles overlay
  docs/CHANGELOG.md
  src/components/AirParticles.tsx
  src/components/index.ts
  src/pages/Demo.tsx
  src/pages/Index.tsx
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

feat: tune air particles dynamics
  src/components/AirParticles.tsx
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

Optimize AirParticles performance
  docs/CHANGELOG.md
  src/components/AirParticles.tsx
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

docs: log realtime diagnostics and animation tuning
  docs/CHANGELOG.md
  src/components/AirQualityDashboard/AQICard.tsx
  src/components/AirQualityDashboard/PointsGrid.tsx
  src/components/AirQualityDashboard/WeatherSection.tsx
  src/hooks/useAirQuality.ts
  src/lib/realtimeConnectionManager.ts
  src/utils/heapFailSafe.ts
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

perf: batch air quality updates
  docs/CHANGELOG.md
  src/hooks/useAirQuality.ts
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

perf: defer particles and add INP diagnostics
  docs/CHANGELOG.md
  src/components/AirParticles.tsx
  src/components/DataSourceValidator.tsx
  src/hooks/usePerformance.ts
  src/lib/realtimeConnectionManager.ts
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

perf: add AQI INP instrumentation
  docs/CHANGELOG.md
  src/components/AirQualityDashboard/AQICard.tsx
  src/components/AirQualityDashboard/PointsGrid.tsx
  src/hooks/usePerformance.ts
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

docs: remove air particles overlay
  docs/CHANGELOG.md
  src/components/AirParticles.tsx
  src/components/index.ts
  src/pages/Demo.tsx
  src/pages/Index.tsx
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

perf: improve dashboard preload and cut prod logging
  src/integrations/supabase/client.ts
  src/pages/Index.tsx
  src/store/weatherStore.ts
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

memory optimisation
  CRITICAL_DATA_COLLECTION_UI_FIXES_SUMMARY.md
  src/components/BackgroundManager.tsx
  src/components/HistoryView.tsx
  src/contexts/OptimizedRealtimeContext.tsx
  src/contexts/RealtimeContext.tsx
  src/contexts/ThemeContext.tsx
  src/hooks/useAirQuality.ts
  src/hooks/useGlobalEnvironmentalData.ts
  src/hooks/useWeatherData.ts
  src/main.tsx
  src/store/index.ts
  src/store/weatherStore.ts
  tests/realtimeContexts.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

fix pre commit linting errors and resolved some warnings
  src/components/AQIDataCharts.tsx
  src/components/BackgroundManager.tsx
  src/components/LeafletMap.tsx
  src/components/MemoryMonitorOverlay.tsx
  src/components/ProfileView.tsx
  src/components/WeatherStats.tsx
  src/hooks/useAirQuality.ts
  src/hooks/useGlobalEnvironmentalData.ts
  src/hooks/useVirtualizedList.ts
  src/hooks/useWeatherData.ts
  src/main.tsx
  src/store/weatherStore.ts
  src/utils/errorTracker.ts
  src/utils/heapFailSafe.ts
  src/utils/memory.ts
  src/utils/memoryBudgetManager.ts
  src/utils/memoryMonitor.ts
  tests/realtimeContexts.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

testing page navigation
  src/App.tsx
  vite.config.ts
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

fixing errors
  src/main.tsx
  vite.config.ts
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

more fixes
  src/main.tsx
  vite.config.ts
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

Fix: Resolve React initialization and build issues for Netlify
  netlify.toml
  package-lock.json
  package.json
  vite.config.ts
Due: eslint --fix --max-warnings=0, prettier --write

more error fixing
  package.json
  vite.config.ts
Due: eslint --fix --max-warnings=0, prettier --write

more more error fixing
  package.json
  vite.config.ts
Due: eslint --fix --max-warnings=0, prettier --write

prevents npm install failures in production environments
  package.json
Due: prettier --write

Fix: Update the netlify-build script to skip the type-check prebuild step in production, or install devDependencies explicitly
  package.json
Due: prettier --write

FIX: ensuring React is available when Radix/shadcn components initialize.
  src/main.tsx
  vite.config.ts
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

fixes
  src/pages/Auth.tsx
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

fixes again
  src/pages/Auth.tsx
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

.
  src/pages/Auth.tsx
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

huge fix. will probably cause more issues.
  src/pages/Auth.tsx
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

Fixed TDZ error by splitting Auth.tsx
  src/pages/Auth.tsx
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

more patches to resolve
  src/pages/Auth.tsx
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

refactored vite config as well as auth.tsx
  src/pages/Auth.tsx
  vite.config.ts
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

fixing vite config
  vite.config.ts
Due: eslint --fix --max-warnings=0, prettier --write

cleaned up vite config some more
  vite.config.ts
Due: eslint --fix --max-warnings=0, prettier --write

more bugfixing because vibecoding
  .husky/pre-commit
  scripts/check-init-issues.js
  src/components/EnhancedErrorBoundary.tsx
  src/components/HistoryRow.tsx
  src/components/HistoryView.tsx
  src/utils/heapFailSafe.ts
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged
