Repository Skptk/lovable_breath_safe: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

fix: Resolve Netlify dependency conflict with lovable-tagger and Vite 7
  .npmrc
  netlify.toml
  package-lock.json
  package.json
Due: prettier --write

fix: Update Node.js version and simplify ESLint config for Netlify build
  eslint.config.js
  eslint/rules/no-before-init.js
  netlify.toml
  package.json
Due: eslint --fix --max-warnings=0, prettier --write

docs: Update changelog with Netlify deployment fixes
  docs/CHANGELOG.md
Due: prettier --write

fix: Relax ESLint configuration to fix Netlify build
  eslint.config.js
  package.json
Due: eslint --fix --max-warnings=0, prettier --write

fix: Remove duplicate function declarations in Rewards.tsx
  src/pages/Rewards.tsx
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

fix: Enhance build configuration to prevent initialization errors
  vite.config.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: restore dashboard and resolve lint errors
  src/components/AirQualityDashboard.tsx
  src/components/AirQualityDashboard/AirQualityDashboard.tsx.new
  src/hooks/useMemoryMonitor.ts
  src/utils/dataProcessing.ts
  src/utils/renderOptimization.ts
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

fix: correct dashboard component imports
  src/components/AirQualityDashboard.tsx
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

fix: stabilize hook ordering and error boundaries
  docs/CHANGELOG.md
  src/components/EnhancedErrorBoundary.tsx
  src/hooks/use-toast.ts
  src/hooks/useStableChannelSubscription.ts
  src/hooks/useWebSocket.ts
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

chore: add TDZ debug instrumentation
  package.json
  src/components/dev/MemoryLeakDetector.tsx
  src/hooks/useStableChannelSubscription.ts
  src/hooks/useWebSocket.ts
  src/services/supabaseClient.ts
  src/utils/debugFlags.ts
  src/vite-env.d.ts
  vite.config.ts
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

Add TDZ debugging instrumentation and build analyzer
  scripts/analyzeBuild.js
  src/App.tsx
  src/components/BackgroundManager.tsx
  src/components/TDZDetector.tsx
  src/main.tsx
  src/services/supabaseClient.ts
  src/store/weatherStore.ts
  src/utils/errorTracker.ts
  src/vite-env.d.ts
  vite.config.ts
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

Improve TDZ diagnostics and expose event registry
  src/utils/errorTracker.ts
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

Disable TDZ detector in production builds
  src/components/TDZDetector.tsx
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

chore(background): improve default fallback handling
  src/components/BackgroundManager.tsx
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

fix: quiet BackgroundManager timeout diagnostics
  src/components/BackgroundManager.tsx
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

chore: gate BackgroundManager debug logs
  src/components/BackgroundManager.tsx
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

feat: refresh weather background with time-of-day and guard realtime channels
  src/components/BackgroundManager.tsx
  src/contexts/RealtimeContext.tsx
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

fix: stabilize rewards hook imports and realtime background updates
  src/pages/Rewards.tsx
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

Fix TDZ ordering in BackgroundManager component
  src/components/BackgroundManager.tsx
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

Hoist AirQualityDashboard helpers to avoid TDZ
  src/components/AirQualityDashboard.tsx
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

Convert AirQualityDashboard exports to declarations
  src/components/AirQualityDashboard.tsx
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

Hoist AirQualityDashboard child components
  src/components/AirQualityDashboard/AQICard.tsx
  src/components/AirQualityDashboard/PointsGrid.tsx
  src/components/AirQualityDashboard/WeatherSection.tsx
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

Hoist LoadingState component for TDZ safety
  src/components/AirQualityDashboard/LoadingState.tsx
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

chore: harden realtime profiles and localize dashboard error boundaries
  docs/CHANGELOG.md
  docs/validation/error-boundaries.md
  src/components/BackgroundManager.tsx
  src/components/ProfileView.tsx
  src/lib/realtimeClient.ts
  src/pages/Index.tsx
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

refactor(BackgroundManager): improve reliability and fix TDZ issues
  src/components/BackgroundManager.tsx
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

refactor: Enhance AirQualityDashboard components with TypeScript and accessibility improvements
  src/components/AirQualityDashboard.tsx
  src/components/AirQualityDashboard/AQICard.tsx
  src/components/AirQualityDashboard/PollutantModal.tsx
  src/components/AirQualityDashboard/index.ts
  src/components/BackgroundManager.tsx
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

fix: harden BackgroundManager cache usage
  src/components/BackgroundManager.tsx
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

feat: add maintenance gate for live testing
  src/App.tsx
  src/components/BackgroundManager.tsx
  src/components/MaintenanceGate.tsx
  src/vite-env.d.ts
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

build: allow optional sourcemap generation
  vite.config.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: resolve air quality TDZ and document maintenance gate
  docs/CHANGELOG.md
  src/hooks/useAirQuality.ts
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

fix: cache AQI readings for dashboard view
  src/hooks/useAirQuality.ts
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

chore: finalize server cadence and diagnostics
  .gitignore
  docs/CHANGELOG.md
  eslint-output.json
  eslint.config.js
  package-lock.json
  package.json
  scripts/check-bundle-reference-errors.js
  src/App.tsx
  src/hooks/useAirQuality.ts
  src/hooks/useRefreshCountdown.ts
  src/utils/errorTracker.ts
  src/utils/refreshLock.ts
  supabase/.temp/cli-latest
  supabase/functions/scheduled-data-collection/index.ts
  supabase/migrations/20250123000001_setup_cron_scheduling.sql
  tests/__mocks__/weatherStore.ts
  tests/backgroundManager.test.tsx
  tests/setup.ts
  tsconfig.app.json
  vitest.config.ts
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

chore: finalize server cadence and diagnostics
  .gitignore
  docs/CHANGELOG.md
  eslint-output.json
  eslint.config.js
  package-lock.json
  package.json
  scripts/check-bundle-reference-errors.js
  src/App.tsx
  src/hooks/useAirQuality.ts
  src/hooks/useRefreshCountdown.ts
  src/utils/errorTracker.ts
  src/utils/refreshLock.ts
  supabase/.temp/cli-latest
  supabase/functions/scheduled-data-collection/index.ts
  supabase/migrations/20250123000001_setup_cron_scheduling.sql
  supabase/migrations/20250925182100_update_cron_job_to_pg_net.sql
  tests/__mocks__/weatherStore.ts
  tests/backgroundManager.test.tsx
  tests/setup.ts
  tsconfig.app.json
  vitest.config.ts
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

chore: document cron auth migration
  docs/CHANGELOG.md
  supabase/.branches/_current_branch
  supabase/migrations/20250922200700_fix_handle_new_user_function.sql
  supabase/migrations/20250925205100_update_cron_use_http_auth.sql
  supabase/migrations/20250926070100_update_cron_use_secret_table.sql
Due: prettier --write

Integrate global AQI data and harden logger env detection
  docs/CHANGELOG.md
  src/components/MapView.tsx
  src/lib/logger.ts
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

Document cron secret workflow and fix data age logging
  .gitignore
  docs/CHANGELOG.md
  src/hooks/useGlobalEnvironmentalData.ts
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

Limit debug tooling to dev builds and slim background manager
  docs/CHANGELOG.md
  src/components/BackgroundManager.tsx
  src/utils/errorTracker.ts
  src/utils/memoryUtils.ts
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

Improve dashboard loading UX and tighten useAirQuality state
  src/components/AirQualityDashboard.tsx
  src/components/AirQualityDashboard/DataLoadingOverlay.tsx
  src/hooks/useAirQuality.ts
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

feat: add heap fail-safe and memory guardrails
  docs/CHANGELOG.md
  src/components/AirQualityDashboard.tsx
  src/components/AirQualityDashboard/PointsGrid.tsx
  src/components/AirQualityDashboard/WeatherSection.tsx
  src/components/BackgroundManager.tsx
  src/components/ConnectionResilienceProvider.tsx
  src/components/HistoryView.tsx
  src/components/ProfileView.tsx
  src/contexts/RealtimeContext.tsx
  src/hooks/index.ts
  src/hooks/useAirQuality.ts
  src/hooks/useHeapFailSafe.ts
  src/hooks/useMemorySafeSubscription.ts
  src/hooks/useNetworkStatus.ts
  src/hooks/useNotifications.ts
  src/hooks/useOptimizedMessageHandling.ts
  src/hooks/useReflowOptimization.ts
  src/hooks/useUserPoints.ts
  src/lib/performanceMonitor.ts
  src/lib/realtimeClient.ts
  src/lib/realtimeConnectionManager.ts
  src/main.tsx
  src/store/index.ts
  src/store/weatherStore.ts
  src/utils/heapFailSafe.ts
  src/utils/memoryMonitor.ts
  src/utils/safeTimers.ts
  tests/backgroundManager.test.tsx
  vite.config.ts
Due: eslint --fix --max-warnings=0, prettier --write, node scripts/check-init-issues.js --staged

fix: use compatible Vite chunking for Netlify
  vite.config.ts
Due: eslint --fix --max-warnings=0, prettier --write

Path conditions:
  eslint --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  node scripts/check-init-issues.js --staged: any of: src/**/*.{ts,tsx}
